---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Starlight Convenience</title>
  <link href="https://hweikel.github.io/starlightconvenience/" rel="alternate"/>
  <link href="https://hweikel.github.io/starlightconvenience/feed.xml" rel="self"/>
  <id>https://hweikel.github.io/starlightconvenience/</id>
  <updated>{{ collections.posts[0].date | isoDate }}</updated>
  <author>
    <name>Starlight Convenience</name>
    <email>antimatter888@gmail.com</email>
  </author>
  {%- for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://hweikel.github.io/starlightconvenience/#{{ post.fileSlug }}"/>
    <id>https://hweikel.github.io/starlightconvenience/#{{ post.fileSlug }}</id>
    <updated>{{ post.date | isoDate }}</updated>
    <summary>{{ post.data.title }}</summary>
  </entry>
  {%- endfor %}
</feed>
